<configuration>
    <!-- Generate timestamped file -->
    <timestamp key="currentTime" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test-log-${currentTime}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
